# {{ ansible_managed }}

[default]
host = {{ ansible_hostname }}

{% if inputs is defined %}
{% for input in inputs %}

[monitor://{{ input.path }}]
{% for key, value in input.config.items() %}
{{ key }} = {{ value }}
{% endfor %}

{% endfor %} 
{% endif %}
