# {{ ansible_managed }}

{% if output is defined -%}

  [tcpout:{{ output.name }}]
  [tcpout]
  defaultGroup={{ output.name }}

  [tcpout:{{ output.name }}]
  {% for key, value in output.config.items() -%}
    {{ key }} = {{ value }}
  {% endfor %}

{% endif %}